<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Agregar ciudad</title>
</head>
<body class="bg-dark">


<div class="container">
    <h3 class="text-white">Agregar ciudad</h3>

    <div>

        <form action="#" method="post"
              th:object="${city}"
              th:action="@{/city/save}"
        >
            <div class="form-group">
                <label  class="text-white" for="nombre">Nombre</label>
                <input type="text"
                       class="class-controller form-control"
                       id="nombre" placeholder="Ingrese nombre del ciudad"
                       th:field="*{name}"
                       required
                >
            </div>
            <div class="form-group"
                 th:switch="countrys"
                 th:case="*"
            >
                <label  class="text-white" for="country1">Pais</label>
                <select class="class-controller form-control"
                        id="country1"
                        th:field="*{countryId}"
                        required
                >
                    <option th:each="country : ${countrys}"
                            th:value="${country.countryId}"
                            th:text="${country.name}"
                    >
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block">
                Agregar ciudad
            </button>


        </form>


    </div>


</div>


</body>
</html>