<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Listado de Paises</title>
</head>
<body>


<div class="container">
    <h3>Listado de Paises</h3>

    <a th:href="@{/country/add}" class="btn btn-success mb-3">Agregar pais</a>
    <a th:href="@{/city/add}" class="btn btn-primary mb-3">Agregar ciudad</a>

    <div th:switch="country">
        <div th:case="*">
            <table class="table table-striped table-bordered table-condensed">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Pais</th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="country : ${country}">
                    <th scope="row" th:text="${country.countryId}"></th>
                    <td th:text="${country.name}"></td>

                    <td class="text-right">
                        <div class="btn-group">

                            <a th:href="@{/country/edit/{id}
                                    (id=${country.countryId})}"
                               class="btn btn-primary btn-sm">Editar</a>
                            <a th:href="@{/country/delete/{id}
                                (id=${country.countryId})}"
                               class="btn btn-danger btn-sm">Eliminar</a>
                            <a th:href="@{/country/list-cities/{id}
                                (id=${country.countryId})}"
                               class="btn btn-info btn-sm">Ciudades</a>
                        </div>
                    </td>

                </tr>
                </tbody>

            </table>


        </div>

    </div>


</div>


</body>
</html>
